<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Client.Android.Client.Android" android:versionName="1.0" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:theme="@style/AppTheme" android:label="@string/ApplicationName" android:icon="@drawable/ic_launcher"></application>
</manifest>